//- 일종의 레이아웃이라고 할 수 있음
//- block으로 원하는 내용을 입력
//- include로 내용을 포함시킬 수 있음
doctype html 
html(lang="ko")
    head
        title #{pageTitle} | WeTube
        //- mvp.css
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        header
            //- h1 #{pageTitle}과 h1=pageTitle은 같은 방법
            h1=pageTitle
            nav
                ul 
                    li 
                        a(href="/videos/upload") Upload Video
        main
            block content
    include partials/footer.pug