extends base.pug

block content
    if errorMessage
        h1=errorMessage
    form(method="POST")
        input(name="username", placeholder="Username", type="text", required)
        input(name="password1", placeholder="Password", type="password", required)
        input(type="submit", value="Login")
        br
        a(href="/users/github/start") Continue with Github &rarr;
    hr
    div 
        span Don't have an account? 
        a(href="/join") Create one now &rarr;